@font-face {
    font-family: 'PixelOperator';
    src: url('fonts/PixelOperator8.ttf') format('truetype');
}

body {
    background: black;
}
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
}
#playerBase, #playerBlue, #playerRed, #playerGold, #playerNeon,
#baseCannon, #baseBarrel, 
#blueCannon, #blueBarrel, 
#redCannon, #redBarrel, 
#goldCannon, #goldBarrel, 
#neonCannon, #neonBarrel, 
#backgroundImage1, #backgroundImage2, #backgroundImage3, 
#backgroundImage4, #backgroundImage5, #backgroundImage6, 
#enemyImage, #enemy2Image, #enemy3Image {
    display: none;
}